# Created by .ignore support plugin (hsz.mobi)
*xcuserstate
*xcuserdata*
*.lock
*.iml
.idea
Pods

*.mobileprovision
*test_output*
fastlane/report.xml
Portfolio.ipa
Portfolio.app.dSYM.zip
*.xcuserstate

*.cer

*.certSigningRequest

*.p12
